{% extends 'base.html.twig' %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Created At</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.priorityString }}</td>
                <td>{{ task.statusString }}</td>
                <td>{{ task.deadline.format('Y-m-d H:i:s') }}</td>
                <td>{{ task.createAt.format('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('task.edit', {id: task.id}) }}">Edit</a></td>
                <td><a href="{{ path('task.delete', {id: task.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}